.poster {
    background-image: url(./../images/poster.jpg);
    height: 100vh;
    width: 100%;
    color: black;
    text-align: center;
    padding-top: 20px;
}

.imgg {
    margin: 70px;
    border-radius: 20px
}
.display{
    display: flex;
}
.inf{
    margin-top: 50px;
    margin-right: 40px;
}